body {
    background-color: rgb(255, 255, 255);
    font-family: Roboto, Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
                         "header header header"
                         "video video sidebar"
                         "comments comments sidebar";
}

/* HEADER AREA */
.navigation-bar {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-area: header;
    grid-template-rows: auto;
    align-items: center;
    height: 56px;
    top: 0;
    padding: 0 16px;
    position: fixed;
    width: 100%;
}

#logo-area {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 26px;
    width: 90px;
    min-width: 90px;
}

#burger{
    margin-right: 10px;
}

#search-area {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 30px;
}

.form-wrapper {
    display: flex;
    border: solid 1px rgb(216, 208, 208);
    width: 90%;
}

.search-form {
    border: none;
    width: 100%;
}

#search-logo {
    display: flex;
    padding-left: 10px;
    margin-right: 0;
    width: 50px;
    align-items: center;
    background-color: rgb(245, 240, 240);
    border-left: solid 1px rgb(216, 208, 208);
}

#voice{
    height: 24px;
    width: 24px;
}

#menu-area {
    display: flex;
    justify-content: flex-end;
    height: 30px;
}

.header-icons {
    height: 24px;
    width: 24px;
    margin-right: 25px;
}

#account {
    width: 40px;
    height: 40px;
    display: flex;
    align-self: flex-end;
}

#logo,
#burger,
#voice,
.header-icons:hover {
    cursor: pointer;
}

/* VIDEO AREA*/
.video {
    background-color: rgb(249,249,249);
    display: grid;
    grid-area: video;
    grid-template-columns: 1fr;
    margin-left: 6%;
}

#video-player {
    width: 100%;
    height: 400px;
}

#video-tags  {
    color: #4859fe;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#video-title {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    margin-top: 3px;
    margin-bottom: 1px;   
}

#bottom-info {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    color: #747272;
    border-bottom: solid 1px #d1cccc;
    padding-bottom: 0;
}

#left-bottom-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#right-bottom-info,
#video-tags:hover {
    cursor: pointer;
}

/* VIDEO AREA - DESCRIPTION*/
.video-description {
    border-bottom: solid 1px #d1cccc;
    margin-top: 10px;
}

#video-top-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#left-description {
    display: flex;
    flex-direction: row;
}

#chanel-logo {
    width: 48px;
    height: 48px;
}

#chanel-info {
    margin-left: 10px;
}

#chanel-name {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 0;
    margin-top: 8px;
}

#chanel-subscribes {
    color: #747272;
    margin-top: 2px;
    font-size: 12px;    
}

#subscribe {
    border-radius: 2px;
    border-style: none;
    background-color: #CC0000;
    color: white;
    font: 14px Roboto, Nono, sans-serif;
    font-weight: bold;
    padding: 10px 16px;
    margin: 0 4px;
}

#video-bottom-description {
    margin-left: 50px;
}

 #text-description {
    font-size: 14px;
    color: black;
    margin-bottom: 0;
    margin-top: 0;
 }
 
 #show-more {
    color: #747272;
    margin-top: 8px;
 }

 #chanel-logo,
 #chanel-name,
 #subscribe,
 #show-more:hover {
     cursor: pointer;
 }

 /*COMMENTS AREA*/
 .comments {
    background-color: rgb(249,249,249);
    display: grid;
    grid-area: comments;
    grid-template-columns: 1fr;
    margin-left: 6%;
    margin-top: 10px;
}

.comments-sort {
    display: flex;
    align-content: center;
    padding-top: 2px;
    padding-bottom: 4px;
}

#comments-quantity {
    align-self: flex-end;
    font-size: 16px;
}

#sort-icon {
    padding-left: 30px;
}

.comments-add {
    display:flex;
    flex-direction: row;
    margin-top: 15px;
}

#comments-search {
    height: 15px;
    width: 100%;
    margin-left: 10px;
    align-self: center;
    border: none;
    border-bottom: solid 1px #d1cccc;    
}
















