body {
    background-color: rgb(249,249,249);
    font-family: Roboto, Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
                         "header header header"
                         "video video sidebar"
                         "comments comments sidebar";
}

/* HEADER AREA */
.navigation-bar {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-area: header;
    grid-template-rows: auto;
    align-items: center;
    height: 56px;
    top: 0;
    padding: 0 16px;
    position: fixed;
    z-index: 999;
    width: 100%;
}

#logo-area {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 26px;
    width: 90px;
    min-width: 90px;
    margin-left: 5px;
}

#burger{
    margin-right: 10px;
}

#search-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
}

.form-wrapper {
    display: flex;
    border: solid 1px rgb(216, 208, 208);
    width: 100%;
    justify-self: center;   
}

.search-form {
    border: none;
    width: 100%;
}

#search-logo {
    display: flex;
    padding-left: 20px;
    margin-right: 0;
    width: 50px;
    align-items: center;
    background-color: rgb(245, 240, 240);
    border-left: solid 1px rgb(216, 208, 208);
}

#voice{
    height: 24px;
    width: 24px;
    margin-right: 40px;
}

#menu-area {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    padding-right: 20px;
    margin-right: 25px;
}

.header-icons {
    height: 24px;
    margin-right: 25px;
}

#account {
    width: 40px;
    height: 40px;
    display: flex;
    align-self: flex-end;
}

#logo,
#burger,
#voice,
.header-icons:hover {
    cursor: pointer;
}

/* VIDEO AREA*/
.video {
    display: grid;
    grid-area: video;
    grid-template-columns: 1fr;
    margin-left: 6%;
    margin-top: 50px;
}

#video-player {
    width: 100%;
    height: 400px;
}

#video-tags  {
    color: #4859fe;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#video-title {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    margin-top: 3px;
    margin-bottom: 1px;   
}

#bottom-info {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    color: #747272;
    border-bottom: solid 1px #d1cccc;
    padding-bottom: 0;
}

#left-bottom-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#right-bottom-info,
#video-tags:hover {
    cursor: pointer;
}

/* VIDEO AREA - DESCRIPTION*/
.video-description {
    border-bottom: solid 1px #d1cccc;
    margin-top: 10px;
}

#video-top-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#left-description {
    display: flex;
    flex-direction: row;
}

#chanel-logo {
    width: 48px;
    height: 48px;
}

#chanel-info {
    margin-left: 10px;
}

#chanel-name {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 0;
    margin-top: 8px;
}

#chanel-subscribes {
    color: #747272;
    margin-top: 2px;
    font-size: 12px;    
}

#subscribe {
    border-radius: 2px;
    border-style: none;
    background-color: #CC0000;
    color: white;
    font: 14px Roboto, Nono, sans-serif;
    font-weight: bold;
    padding: 10px 16px;
    margin: 0 4px;
}

#video-bottom-description {
    margin-left: 50px;
}

 #text-description {
    font-size: 14px;
    color: black;
    margin-bottom: 0;
    margin-top: 0;
 }
 
 #show-more {
    color: #747272;
    margin-top: 8px;
 }

 #chanel-logo,
 #chanel-name,
 #subscribe,
 #show-more:hover {
     cursor: pointer;
}

/* SIDEBAR AREA*/
.sidebar {
    display: grid;
    grid-area: sidebar;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 50px;
}

.sidebar-buttons {
    height: 3em;
}

.sidebar-buttons button {
    border-radius: 16px;
    padding: 5px 14px;
    color: #030303;
    font-size: 14px;
    background-color: rgb(238,238,238);
    border:solid 1px grey;
}

.sidebar-buttons button:hover {
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}

#all {
    background-color: black;
    color: white;
}

#all:hover {
    background-color: rgb(148, 144, 144);
}

.related-video-container {
    display: flex;
    flex-wrap: wrap;
}

.related-video {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-top: 5px;
    position: relative;
}

.rel-video-description {
    margin-left: 5px;
}

#rel-video-title {
    font-size: 14px;
    font-weight: 600;
}

#chanel-title {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #747272;
    font-size: 14px;
}

#chanel-stat {
    margin-top: 0px;
    color: #747272;
    font-size: 14px;
}


/*COMMENTS AREA*/
.comments {
    display: grid;
    grid-area: comments;
    grid-template-columns: 1fr;
    margin-left: 6%;
    margin-top: 10px;
}

.comments-sort {
    display: flex;
    align-content: center;
    padding-top: 2px;
    padding-bottom: 4px;
}

#comments-quantity {
    align-self: flex-end;
    font-size: 16px;
}

#sort-icon {
    padding-left: 30px;
}

.comments-add {
    display:flex;
    flex-direction: row;
    margin-top: 15px;
}

#comments-search {
    height: 15px;
    width: 100%;
    margin-left: 10px;
    align-self: center;
    border: none;
    border-bottom: solid 1px #d1cccc; 
    background-color: rgb(249,249,249);   
}

.comment-container {
    margin-top: 20px;
    display: flex;
}

.account-image {
    margin-right: 10px;
}

.acc-name {
    font-size: 13px;
    color: #030303;
    font-weight: bold;
}

.time-ago {
    font-size: 12px;
    color: #8b7777;    
}

.comment-text {
    font-size: 14px;
    color: #030303;
    margin-top: 5px;
}

.comment-opinion {
    display: flex;
    align-content: center;
    margin-top: 15px;
    font-size: 13px;
    color: #606060;
}

#icon-opinion {
    margin-right: 20px;
}

.account-image,
.acc-name-container,
.comment-opinion:hover {
    cursor: pointer;
}

/* MEDIA QUERIES*/
@media only screen and (max-width: 992px){
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
                     "header"
                     "video"
                     "sidebar"
                     "comments";
        margin-right: 3em;
    }

    .navigation-bar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #voice {
        margin-right: 15px;
    }

    #logo-area {
        margin-left: 15px;
    }

    .header-icons {
        margin-right: 5px;
    }

    #menu-area {
        margin-right: 40px;
    }

    #search-logo {
        padding-left: 0.5em;
    }
  
}

















